/**
 * Created by Gaplo917 on 2/5/15.
 */
html, body{
    background-color: #222;
    color: #ddd
}
h1{
    color:#fff;
}
.click-control-container{
    padding:40px 0px;
}
.switch-control-container{
    padding:40px 0px;
}
.btn.switch-control{
    margin-bottom: 10px;
}

.popover{
    color:#000;
}